<%= form_with(model: direccion) do |form| %>
  <% if direccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(direccion.errors.count, "error") %> prohibited this direccion from being saved:</h2>

      <ul>
        <% direccion.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :calle %>
    <%= form.text_field :calle %>
  </div>

  <div class="field">
    <%= form.label :ciudad %>
    <%= form.text_field :ciudad %>
  </div>

  <div class="field">
    <%= form.label :estado %>
    <%= form.text_field :estado %>
  </div>

  <div class="field">
    <%= form.label :usuario_id %>
    <%= collection_select(:direccion, :usuario_id, Usuario.all, :id, :nombre, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
