<p id="notice"><%= notice %></p>

<p>
  <strong>Calle:</strong>
  <%= @direccion.calle %>
</p>

<p>
  <strong>Ciudad:</strong>
  <%= @direccion.ciudad %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @direccion.estado %>
</p>

<p>
  <strong>Usuario:</strong>
  <%# aquí hago que en vez de el id, me aparezca el nombre del usuario %>
  <% @usuarios.each do |usuario| %>
            <% if usuario.id == @direccion.usuario_id %>
              <%= usuario.nombre %>
            <% end %>
          <% end %>
</p>

<%= link_to 'Edit', edit_direccion_path(@direccion) %> |
<%= link_to 'Back', direccions_path %>
